<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yice.edu.cn.jy.dao.collectivePlan.ICollectivePlanTeacherDao">
    <!--########################################################################################################################-->
    <select id="findCollectivePlanTeacherListByCondition" parameterType="CollectivePlanTeacher" resultType="CollectivePlanTeacher">
        select
         <choose>
             <when test="pager!=null and pager.includes!=null">
                 <foreach collection="pager.includes" item="field" separator=",">
                     T.${@cn.hutool.core.util.StrUtil@toUnderlineCase(field)}
                 </foreach>
             </when>
             <when test="pager!=null and pager.excludes!=null">
                 <trim suffixOverrides=",">
                         <if test="!pager.excludes.contains('id')">
                             T.id,
                         </if>
                         <if test="!pager.excludes.contains('collectivePlanId')">
                             T.collective_plan_id,
                         </if>
                         <if test="!pager.excludes.contains('teacherId')">
                             T.teacher_id,
                         </if>
                         <if test="!pager.excludes.contains('teacherName')">
                             T.teacher_name,
                         </if>
                 </trim>
             </when>
             <otherwise>
                 T.*
             </otherwise>
         </choose>
         from jy_collective_plan_teacher T
        <where>
              <if test="collectivePlanId!=null">
                    <choose>
                         <when test="pager!=null and pager.like=='collectivePlanId'">
                             T.collective_plan_id like concat('%',#{collectivePlanId},'%')
                         </when>
                         <otherwise>
                             T.collective_plan_id=#{collectivePlanId}
                         </otherwise>
                      </choose>
              </if>
              <if test="teacherId!=null">
                    <choose>
                         <when test="pager!=null and pager.like=='teacherId'">
                            and T.teacher_id like concat('%',#{teacherId},'%')
                         </when>
                         <otherwise>
                            and T.teacher_id=#{teacherId}
                         </otherwise>
                      </choose>
              </if>
              <if test="teacherName!=null">
                    <choose>
                         <when test="pager!=null and pager.like=='teacherName'">
                            and T.teacher_name like concat('%',#{teacherName},'%')
                         </when>
                         <otherwise>
                            and T.teacher_name=#{teacherName}
                         </otherwise>
                      </choose>
              </if>
        </where>
        <if test="pager!=null and pager.sortField!=null and pager.sortOrder!=null">
            order by T.${@cn.hutool.core.util.StrUtil@toUnderlineCase(pager.sortField)} ${@cn.hutool.core.util.StrUtil@toUnderlineCase(pager.sortOrder)}
        </if>
        <if test="pager!=null and  pager.paging">
            limit #{pager.beginRow},#{pager.pageSize}
        </if>
    </select>
    <select id="findCollectivePlanTeacherCountByCondition" parameterType="CollectivePlanTeacher" resultType="long">
        select count(*) from jy_collective_plan_teacher T
        <where>
              <if test="collectivePlanId!=null">
                    <choose>
                         <when test="pager!=null and pager.like=='collectivePlanId'">
                             T.collective_plan_id like concat('%',#{collectivePlanId},'%')
                         </when>
                         <otherwise>
                             T.collective_plan_id=#{collectivePlanId}
                         </otherwise>
                      </choose>
            </if>
              <if test="teacherId!=null">
                    <choose>
                         <when test="pager!=null and pager.like=='teacherId'">
                            and T.teacher_id like concat('%',#{teacherId},'%')
                         </when>
                         <otherwise>
                            and T.teacher_id=#{teacherId}
                         </otherwise>
                      </choose>
            </if>
              <if test="teacherName!=null">
                    <choose>
                         <when test="pager!=null and pager.like=='teacherName'">
                            and T.teacher_name like concat('%',#{teacherName},'%')
                         </when>
                         <otherwise>
                            and T.teacher_name=#{teacherName}
                         </otherwise>
                      </choose>
            </if>
        </where>
    </select>
    <select id="findCollectivePlanTeacherById" resultType="CollectivePlanTeacher">
        select * from jy_collective_plan_teacher where id=#{id}
    </select>
    <select id="findOneCollectivePlanTeacherByCondition" parameterType="CollectivePlanTeacher" resultType="CollectivePlanTeacher">
        select
         <choose>
             <when test="pager!=null and pager.includes!=null">
                 <foreach collection="pager.includes" item="field" separator=",">
                     T.${@cn.hutool.core.util.StrUtil@toUnderlineCase(field)}
                 </foreach>
             </when>
             <when test="pager!=null and pager.excludes!=null">
                 <trim suffixOverrides=",">
                         <if test="!pager.excludes.contains('id')">
                             T.id,
                         </if>
                         <if test="!pager.excludes.contains('collectivePlanId')">
                             T.collective_plan_id,
                         </if>
                         <if test="!pager.excludes.contains('teacherId')">
                             T.teacher_id,
                         </if>
                         <if test="!pager.excludes.contains('teacherName')">
                             T.teacher_name,
                         </if>
                 </trim>
             </when>
             <otherwise>
                 T.*
             </otherwise>
         </choose>
         from jy_collective_plan_teacher T
        <where>
              <if test="collectivePlanId!=null">
                 T.collective_plan_id=#{collectivePlanId}
              </if>
              <if test="teacherId!=null">
                and T.teacher_id=#{teacherId}
              </if>
              <if test="teacherName!=null">
                and T.teacher_name=#{teacherName}
              </if>
        </where>
    </select>
    <insert id="saveCollectivePlanTeacher" parameterType="CollectivePlanTeacher">
        insert into jy_collective_plan_teacher
         (
            id,
            collective_plan_id,
            teacher_id,
            teacher_name
        ) values
         (
                #{id}
                ,
                #{collectivePlanId}
                ,
                #{teacherId}
                ,
                #{teacherName}
                
         )
    </insert>
    <update id="updateCollectivePlanTeacher" parameterType="CollectivePlanTeacher">
        update jy_collective_plan_teacher
        <set>
                    <if test="collectivePlanId!=null ">
                        collective_plan_id=#{collectivePlanId},
                    </if>
                    <if test="teacherId!=null ">
                        teacher_id=#{teacherId},
                    </if>
                    <if test="teacherName!=null ">
                        teacher_name=#{teacherName}
                    </if>
          </set>
         where id=#{id}
    </update>
    <delete id="deleteCollectivePlanTeacher" >
        delete from jy_collective_plan_teacher where id=#{id}
    </delete>
    <delete id="deleteCollectivePlanTeacherByCondition" >
        delete from jy_collective_plan_teacher
        <where>
              <if test="id!=null">
                 id=#{id}
              </if>
              <if test="collectivePlanId!=null">
                and collective_plan_id=#{collectivePlanId}
              </if>
              <if test="teacherId!=null">
                and teacher_id=#{teacherId}
              </if>
              <if test="teacherName!=null">
                and teacher_name=#{teacherName}
              </if>
        </where>
    </delete>
    <insert id="batchSaveCollectivePlanTeacher" parameterType="CollectivePlanTeacher">
        INSERT INTO jy_collective_plan_teacher (  id,  collective_plan_id,  teacher_id,  teacher_name )
        VALUES
        <foreach collection="list" item="collectivePlanTeacher" separator=",">
            (  #{collectivePlanTeacher.id},  #{collectivePlanTeacher.collectivePlanId},  #{collectivePlanTeacher.teacherId},  #{collectivePlanTeacher.teacherName}  )
        </foreach>
    </insert>
    <!--########################################################################################################################-->
    <!--查询当前讨论组中的老师-->
    <select id="findOneCollectivePlanByCollectivePlanId" parameterType="CollectivePlanTeacher" resultType="CollectivePlanTeacher">
        SELECT
        t2.teacher_id as teacherId,
        t1.name AS teacherName,
        t1.img_url AS imgUrl
        FROM
        jw_teacher t1
        LEFT JOIN jy_collective_plan_teacher t2
        ON t1.id = t2.teacher_id
        <where>
        t2.collective_plan_id = #{collectivePlanId}
            ORDER  BY  CONVERT (substr(t1.name,1,1) using 'GBK')
        </where>
    </select>

</mapper>