<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yice.edu.cn.dm.dao.parentMsg.IDmParentQuickReplyDao">
    <!--########################################################################################################################-->
    <sql id="projection">
        <choose>
             <when test="pager!=null and pager.includes!=null">
                 <foreach collection="pager.includes" item="field" separator=",">
                     T.${@cn.hutool.core.util.StrUtil@toUnderlineCase(field)}
                 </foreach>
             </when>
             <when test="pager!=null and pager.excludes!=null">
                 <trim suffixOverrides=",">
                         <if test="!pager.excludes.contains('id')">
                             T.id,
                         </if>
                         <if test="!pager.excludes.contains('parentId')">
                             T.parent_id,
                         </if>
                         <if test="!pager.excludes.contains('content')">
                             T.content,
                         </if>
                         <if test="!pager.excludes.contains('createTime')">
                             T.create_time,
                         </if>
                 </trim>
             </when>
             <otherwise>
                 T.*
             </otherwise>
         </choose>
    </sql>
    <sql id="match">
        <where>
              <if test="id!=null">
                    <choose>
                         <when test="pager!=null and pager.like=='id'">
                             T.id like concat('%',#{id},'%')
                         </when>
                         <otherwise>
                             T.id=#{id}
                         </otherwise>
                      </choose>
              </if>
              <if test="parentId!=null">
                    <choose>
                         <when test="pager!=null and pager.like=='parentId'">
                            and T.parent_id like concat('%',#{parentId},'%')
                         </when>
                         <otherwise>
                            and T.parent_id=#{parentId}
                         </otherwise>
                      </choose>
              </if>
              <if test="content!=null">
                    <choose>
                         <when test="pager!=null and pager.like=='content'">
                            and T.content like concat('%',#{content},'%')
                         </when>
                         <otherwise>
                            and T.content=#{content}
                         </otherwise>
                      </choose>
              </if>
              <if test="createTime!=null">
                    <choose>
                         <when test="pager!=null and pager.like=='createTime'">
                            and T.create_time like concat('%',#{createTime},'%')
                         </when>
                         <otherwise>
                            and T.create_time=#{createTime}
                         </otherwise>
                      </choose>
              </if>
            <if test="pager!=null and pager.rangeField!=null and pager.rangeArray!=null and pager.rangeArray.length==2">
                <foreach collection="pager.rangeArray" item="item"  index="i">
                    <if test="i==0">
                        and ${@cn.hutool.core.util.StrUtil@toUnderlineCase(pager.rangeField)} &gt;= #{item}
                    </if>
                    <if test="i==1">
                        and ${@cn.hutool.core.util.StrUtil@toUnderlineCase(pager.rangeField)} &lt;= #{item}
                    </if>
                </foreach>

            </if>
        </where>
    </sql>
    <sql id="sort">
        <if test="pager!=null and pager.sortField!=null and pager.sortOrder!=null">
            order by T.${@cn.hutool.core.util.StrUtil@toUnderlineCase(pager.sortField)} ${@cn.hutool.core.util.StrUtil@toUnderlineCase(pager.sortOrder)}
        </if>
    </sql>
    <sql id="page">
        <if test="pager!=null and  pager.paging">
            limit #{pager.beginRow},#{pager.pageSize}
        </if>
    </sql>


    <select id="findDmParentQuickReplyListByCondition" parameterType="DmParentQuickReply" resultType="DmParentQuickReply">
        select
         <include refid="projection"/>
         from dm_parent_quick_reply T
         <include refid="match"/>
         <include refid="sort"/>
         <include refid="page"/>


    </select>
    <select id="findDmParentQuickReplyCountByCondition" parameterType="DmParentQuickReply" resultType="long">
        select count(*) from dm_parent_quick_reply T
        <include refid="match"/>
    </select>
    <select id="findDmParentQuickReplyById" resultType="DmParentQuickReply">
        select * from dm_parent_quick_reply where id=#{id}
    </select>
    <select id="findOneDmParentQuickReplyByCondition" parameterType="DmParentQuickReply" resultType="DmParentQuickReply">
        select
         <include refid="projection"/>
         from dm_parent_quick_reply T
        <include refid="match"/>
    </select>
    <insert id="saveDmParentQuickReply" parameterType="DmParentQuickReply">
        insert into dm_parent_quick_reply
         (
            id,
            parent_id,
            content,
            create_time
        ) values
         (
                #{id}
                ,
                #{parentId}
                ,
                #{content}
                ,
                now()
                
         )
    </insert>
    <update id="updateDmParentQuickReply" parameterType="DmParentQuickReply">
        update dm_parent_quick_reply
        <set>
                    <if test="parentId!=null ">
                        parent_id=#{parentId},
                    </if>
                    <if test="content!=null ">
                        content=#{content},
                    </if>
                    <if test="createTime!=null ">
                        create_time=#{createTime}
                    </if>
          </set>
         where id=#{id}
    </update>
    <delete id="deleteDmParentQuickReply" >
        delete from dm_parent_quick_reply where id=#{id}
    </delete>
    <delete id="deleteDmParentQuickReplyByCondition" >
        delete from dm_parent_quick_reply
        <include refid="match"/>
    </delete>
    <insert id="batchSaveDmParentQuickReply" parameterType="DmParentQuickReply">
        INSERT INTO dm_parent_quick_reply (  id,  parent_id,  content,  create_time )
        VALUES
        <foreach collection="list" item="dmParentQuickReply" separator=",">
            (  #{dmParentQuickReply.id},  #{dmParentQuickReply.parentId},  #{dmParentQuickReply.content},  #{dmParentQuickReply.createTime}  )
        </foreach>
    </insert>
    <!--########################################################################################################################-->
</mapper>