<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yice.edu.cn.jy.dao.resourceCenter.IResourceCenterTypeConditionDao">
    <!--########################################################generated code start,do not update################################################################-->
    <sql id="projection">
        <choose>
            <when test="pager!=null and pager.includes!=null">
                <foreach collection="pager.includes" item="field" separator=",">
                    T.${@cn.hutool.core.util.StrUtil@toUnderlineCase(field)}
                </foreach>
            </when>
            <when test="pager!=null and pager.excludes!=null">
                <trim suffixOverrides=",">
                    <if test="!pager.excludes.contains('id')">
                        T.id,
                    </if>
                    <if test="!pager.excludes.contains('typeId')">
                        T.type_id,
                    </if>
                    <if test="!pager.excludes.contains('typeName')">
                        T.type_name,
                    </if>
                    <if test="!pager.excludes.contains('conditionId')">
                        T.condition_id,
                    </if>
                    <if test="!pager.excludes.contains('conditionName')">
                        T.condition_name,
                    </if>
                    <if test="!pager.excludes.contains('schoolId')">
                        T.school_id,
                    </if>
                    <if test="!pager.excludes.contains('createTime')">
                        T.create_time,
                    </if>
                </trim>
            </when>
            <otherwise>
                T.*
            </otherwise>
        </choose>
    </sql>
    <sql id="match">
        <where>
            <if test="id!=null">
                <choose>
                    <when test="pager!=null and pager.like=='id'">
                        T.id like concat('%',#{id},'%')
                    </when>
                    <otherwise>
                        T.id=#{id}
                    </otherwise>
                </choose>
            </if>
            <if test="typeId!=null">
                <choose>
                    <when test="pager!=null and pager.like=='typeId'">
                        and T.type_id like concat('%',#{typeId},'%')
                    </when>
                    <otherwise>
                        and T.type_id=#{typeId}
                    </otherwise>
                </choose>
            </if>
            <if test="typeName!=null">
                <choose>
                    <when test="pager!=null and pager.like=='typeName'">
                        and T.type_name like concat('%',#{typeName},'%')
                    </when>
                    <otherwise>
                        and T.type_name=#{typeName}
                    </otherwise>
                </choose>
            </if>
            <if test="conditionId!=null">
                <choose>
                    <when test="pager!=null and pager.like=='conditionId'">
                        and T.condition_id like concat('%',#{conditionId},'%')
                    </when>
                    <otherwise>
                        and T.condition_id=#{conditionId}
                    </otherwise>
                </choose>
            </if>
            <if test="conditionName!=null">
                <choose>
                    <when test="pager!=null and pager.like=='conditionName'">
                        and T.condition_name like concat('%',#{conditionName},'%')
                    </when>
                    <otherwise>
                        and T.condition_name=#{conditionName}
                    </otherwise>
                </choose>
            </if>
            <if test="resourceCenterId!=null">
                <choose>
                    <when test="pager!=null and pager.like=='resourceCenterId'">
                        and T.resource_center_id like concat('%',#{resourceCenterId},'%')
                    </when>
                    <otherwise>
                        and T.resource_center_id=#{resourceCenterId}
                    </otherwise>
                </choose>
            </if>

            <if test="resourceCenterId!=null">
                <choose>
                    <when test="pager!=null and pager.like=='resourceCenterId'">
                        and T.resource_center_id like concat('%',#{resourceCenterId},'%')
                    </when>
                    <otherwise>
                        and T.resource_center_id=#{resourceCenterId}
                    </otherwise>
                </choose>
            </if>

            <if test="createTime!=null">
                <choose>
                    <when test="pager!=null and pager.like=='createTime'">
                        and T.create_time like concat('%',#{createTime},'%')
                    </when>
                    <otherwise>
                        and T.create_time=#{createTime}
                    </otherwise>
                </choose>
            </if>

            <if test="schoolId!=null">
                <choose>
                    <when test="pager!=null and pager.like=='schoolId'">
                        and T.school_id like concat('%',#{schoolId},'%')
                    </when>
                    <otherwise>
                        and T.school_id=#{schoolId}
                    </otherwise>
                </choose>
            </if>

            <if test="pager!=null and pager.rangeField!=null and pager.rangeArray!=null and pager.rangeArray.length==2">
                <foreach collection="pager.rangeArray" item="item"  index="i">
                    <if test="i==0 and item!=null">
                        and ${@cn.hutool.core.util.StrUtil@toUnderlineCase(pager.rangeField)} &gt;= #{item}
                    </if>
                    <if test="i==1 and item!=null">
                        and ${@cn.hutool.core.util.StrUtil@toUnderlineCase(pager.rangeField)} &lt;= #{item}
                    </if>
                </foreach>

            </if>
        </where>
    </sql>
    <sql id="sort">
        <if test="pager!=null and pager.sortField!=null and pager.sortOrder!=null">
            order by
            <foreach collection="pager.sortField.split(',')" item="s" index="i" separator=",">
                T.${@cn.hutool.core.util.StrUtil@toUnderlineCase(s)} ${pager.sortOrder.split(',')[i]}
            </foreach>
        </if>
    </sql>
    <sql id="page">
        <if test="pager!=null and  pager.paging">
            limit #{pager.beginRow},#{pager.pageSize}
        </if>
    </sql>


    <select id="findResourceCenterTypeConditionListByCondition" parameterType="ResourceCenterTypeCondition" resultType="ResourceCenterTypeCondition">
        select
        <include refid="projection"/>
        from jy_resource_center_type_condition T
        <include refid="match"/>
        <include refid="sort"/>
        <include refid="page"/>


    </select>
    <select id="findResourceCenterTypeConditionCountByCondition" parameterType="ResourceCenterTypeCondition" resultType="long">
        select count(*) from jy_resource_center_type_condition T
        <include refid="match"/>
    </select>
    <select id="findResourceCenterTypeConditionById" resultType="ResourceCenterTypeCondition">
        select * from jy_resource_center_type_condition where id=#{id}
    </select>
    <select id="findOneResourceCenterTypeConditionByCondition" parameterType="ResourceCenterTypeCondition" resultType="ResourceCenterTypeCondition">
        select
        <include refid="projection"/>
        from jy_resource_center_type_condition T
        <include refid="match"/>
    </select>
    <insert id="saveResourceCenterTypeCondition" parameterType="ResourceCenterTypeCondition">
        insert into jy_resource_center_type_condition
         (
            id,
            type_id,
            type_name,
            condition_id,
            condition_name,
            resource_center_id,
            create_time,
            school_id
        ) values
         (
                #{id}
                ,
                #{typeId}
                ,
                #{typeName}
                ,
                #{conditionId}
                ,
                #{conditionName}
                ,
                #{resourceCenterId},
                 now(),
                 #{schoolId}
         )
    </insert>
    <update id="updateResourceCenterTypeCondition" parameterType="ResourceCenterTypeCondition">
        update jy_resource_center_type_condition
        <set>
            <if test="typeId!=null ">
                type_id=#{typeId},
            </if>
            <if test="typeName!=null ">
                type_name=#{typeName},
            </if>
            <if test="conditionId!=null ">
                condition_id=#{conditionId},
            </if>
            <if test="conditionName!=null ">
                condition_name=#{conditionName}
            </if>
        </set>
        where id=#{id}
    </update>
    <delete id="deleteResourceCenterTypeCondition" >
        delete from jy_resource_center_type_condition where id=#{id}
    </delete>
    <delete id="deleteResourceCenterTypeConditionByCondition"  parameterType="ResourceCenterTypeCondition">
        delete T from jy_resource_center_type_condition T
        <include refid="match"/>
    </delete>
    <insert id="batchSaveResourceCenterTypeCondition" parameterType="ResourceCenterTypeCondition">
        INSERT INTO jy_resource_center_type_condition (  id,  type_id,  type_name,  condition_id,  condition_name )
        VALUES
        <foreach collection="list" item="resourceCenterTypeCondition" separator=",">
            (  #{resourceCenterTypeCondition.id},  #{resourceCenterTypeCondition.typeId},  #{resourceCenterTypeCondition.typeName},  #{resourceCenterTypeCondition.conditionId},  #{resourceCenterTypeCondition.conditionName}  )
        </foreach>
    </insert>
    <!--##################################################generated code end,do not update######################################################################-->
</mapper>