<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yice.edu.cn.jw.dao.auth.IRoleDao">
    <!--########################################################generated code start,do not update################################################################-->
    <sql id="projection">
        <choose>
            <when test="pager!=null and pager.includes!=null">
                <foreach collection="pager.includes" item="field" separator=",">
                    T.${@cn.hutool.core.util.StrUtil@toUnderlineCase(field)}
                </foreach>
            </when>
            <when test="pager!=null and pager.excludes!=null">
                <trim suffixOverrides=",">
                    <if test="!pager.excludes.contains('id')">
                        T.id,
                    </if>
                    <if test="!pager.excludes.contains('title')">
                        T.title,
                    </if>
                    <if test="!pager.excludes.contains('createTime')">
                        T.create_time,
                    </if>
                    <if test="!pager.excludes.contains('schoolId')">
                        T.school_id,
                    </if>
                </trim>
            </when>
            <otherwise>
                T.*
            </otherwise>
        </choose>
    </sql>
    <sql id="match">
        <where>
            <if test="id!=null">
                <choose>
                    <when test="pager!=null and pager.like=='id'">
                        T.id like concat('%',#{id},'%')
                    </when>
                    <otherwise>
                        T.id=#{id}
                    </otherwise>
                </choose>
            </if>
            <if test="title!=null">
                <choose>
                    <when test="pager!=null and pager.like=='title'">
                        and T.title like concat('%',#{title},'%')
                    </when>
                    <otherwise>
                        and T.title=#{title}
                    </otherwise>
                </choose>
            </if>
            <if test="createTime!=null">
                <choose>
                    <when test="pager!=null and pager.like=='createTime'">
                        and T.create_time like concat('%',#{createTime},'%')
                    </when>
                    <otherwise>
                        and T.create_time=#{createTime}
                    </otherwise>
                </choose>
            </if>
            <if test="schoolId!=null">
                <choose>
                    <when test="pager!=null and pager.like=='schoolId'">
                        and T.school_id like concat('%',#{schoolId},'%')
                    </when>
                    <otherwise>
                        and T.school_id=#{schoolId}
                    </otherwise>
                </choose>
            </if>
            <if test="pager!=null and pager.rangeField!=null and pager.rangeArray!=null and pager.rangeArray.length==2">
                <foreach collection="pager.rangeArray" item="item"  index="i">
                    <if test="i==0 and item!=null">
                        and ${@cn.hutool.core.util.StrUtil@toUnderlineCase(pager.rangeField)} &gt;= #{item}
                    </if>
                    <if test="i==1 and item!=null">
                        and ${@cn.hutool.core.util.StrUtil@toUnderlineCase(pager.rangeField)} &lt;= #{item}
                    </if>
                </foreach>

            </if>
        </where>
    </sql>
    <sql id="sort">
        <if test="pager!=null and pager.sortField!=null and pager.sortOrder!=null">
            order by
            <foreach collection="pager.sortField.split(',')" item="s" index="i" separator=",">
                T.${@cn.hutool.core.util.StrUtil@toUnderlineCase(s)} ${pager.sortOrder.split(',')[i]}
            </foreach>
        </if>
    </sql>
    <sql id="page">
        <if test="pager!=null and  pager.paging">
            limit #{pager.beginRow},#{pager.pageSize}
        </if>
    </sql>


    <select id="findRoleListByCondition" parameterType="Role" resultType="Role">
        select
        <include refid="projection"/>
        from jw_role T
        <include refid="match"/>
        <include refid="sort"/>
        <include refid="page"/>


    </select>
    <select id="findRoleCountByCondition" parameterType="Role" resultType="long">
        select count(*) from jw_role T
        <include refid="match"/>
    </select>
    <select id="findRoleById" resultType="Role">
        select * from jw_role where id=#{id}
    </select>
    <select id="findOneRoleByCondition" parameterType="Role" resultType="Role">
        select
        <include refid="projection"/>
        from jw_role T
        <include refid="match"/>
    </select>
    <insert id="saveRole" parameterType="Role">
        insert into jw_role
         (
            id,
            title,
            create_time,
            school_id
        ) values
         (
                #{id}
                ,
                #{title}
                ,
                now()
                ,
                #{schoolId}

         )
    </insert>
    <update id="updateRole" parameterType="Role">
        update jw_role
        <set>
            <if test="title!=null ">
                title=#{title},
            </if>
            <if test="createTime!=null ">
                create_time=#{createTime},
            </if>
            <if test="schoolId!=null ">
                school_id=#{schoolId}
            </if>
        </set>
        where id=#{id}
    </update>
    <delete id="deleteRole" >
        delete from jw_role where id=#{id}
    </delete>
    <delete id="deleteRoleByCondition" >
        delete T from jw_role T
        <include refid="match"/>
    </delete>
    <insert id="batchSaveRole" parameterType="Role">
        INSERT INTO jw_role (  id,  title,  create_time,  school_id )
        VALUES
        <foreach collection="list" item="role" separator=",">
            (  #{role.id},  #{role.title},  #{role.createTime},  #{role.schoolId}  )
        </foreach>
    </insert>
    <!--########################################################################################################################-->
</mapper>