<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yice.edu.cn.dm.dao.classes.IDmClassVideoDao">
    <!--########################################################generated code start,do not update################################################################-->
    <sql id="projection">
        <choose>
             <when test="pager!=null and pager.includes!=null">
                 <foreach collection="pager.includes" item="field" separator=",">
                     T.${@cn.hutool.core.util.StrUtil@toUnderlineCase(field)}
                 </foreach>
             </when>

             <when test="pager!=null and pager.excludes!=null">
                 <trim suffixOverrides=",">
                         <if test="!pager.excludes.contains('id')">
                             T.id,
                         </if>
                         <if test="!pager.excludes.contains('schoolId')">
                             T.school_id,
                         </if>
                         <if test="!pager.excludes.contains('classId')">
                             T.class_id,
                         </if>
                         <if test="!pager.excludes.contains('videoName')">
                             T.video_name,
                         </if>
                         <if test="!pager.excludes.contains('videoType')">
                             T.video_type,
                         </if>
                         <if test="!pager.excludes.contains('videoEntry')">
                             T.video_entry,
                         </if>
                         <if test="!pager.excludes.contains('videoUrl')">
                             T.video_url,
                         </if>
                         <if test="!pager.excludes.contains('createTime')">
                             T.create_time,
                         </if>
                         <if test="!pager.excludes.contains('videoSort')">
                             T.video_sort,
                         </if>
                         <if test="!pager.excludes.contains('videoSize')">
                             T.video_size,
                         </if>
                 </trim>
             </when>
             <otherwise>
                 T.*
             </otherwise>
         </choose>
    </sql>
    <sql id="match">
        <where>
              <if test="id!=null">
                    <choose>
                         <when test="pager!=null and pager.like=='id'">
                             T.id like concat('%',#{id},'%')
                         </when>
                         <otherwise>
                             T.id=#{id}
                         </otherwise>
                      </choose>
              </if>
              <if test="schoolId!=null">
                    <choose>
                         <when test="pager!=null and pager.like=='schoolId'">
                            and T.school_id like concat('%',#{schoolId},'%')
                         </when>
                         <otherwise>
                            and T.school_id=#{schoolId}
                         </otherwise>
                      </choose>
              </if>
              <if test="classId!=null">
                    <choose>
                         <when test="pager!=null and pager.like=='classId'">
                            and T.class_id like concat('%',#{classId},'%')
                         </when>
                         <otherwise>
                            and T.class_id=#{classId}
                         </otherwise>
                      </choose>
              </if>
              <if test="videoName!=null">
                    <choose>
                         <when test="pager!=null and pager.like=='videoName'">
                            and T.video_name like concat('%',#{videoName},'%')
                         </when>
                         <otherwise>
                            and T.video_name=#{videoName}
                         </otherwise>
                      </choose>
              </if>
              <if test="videoType!=null">
                    and T.video_type=#{videoType}
              </if>
              <if test="videoEntry!=null">
                    and T.video_entry=#{videoEntry}
              </if>
              <if test="videoUrl!=null">
                    <choose>
                         <when test="pager!=null and pager.like=='videoUrl'">
                            and T.video_url like concat('%',#{videoUrl},'%')
                         </when>
                         <otherwise>
                            and T.video_url=#{videoUrl}
                         </otherwise>
                      </choose>
              </if>
              <if test="createTime!=null">
                    <choose>
                         <when test="pager!=null and pager.like=='createTime'">
                            and T.create_time like concat('%',#{createTime},'%')
                         </when>
                         <otherwise>
                            and T.create_time=#{createTime}
                         </otherwise>
                      </choose>
              </if>
              <if test="videoSort!=null">
                    and T.video_sort=#{videoSort}
              </if>
              <if test="videoSize!=null">
                    and T.video_size=#{videoSize}
              </if>

            <if test="pager!=null and pager.rangeField!=null and pager.rangeArray!=null and pager.rangeArray.length==2">
                <foreach collection="pager.rangeArray" item="item"  index="i">
                    <if test="i==0 and item!=null">
                        and ${@cn.hutool.core.util.StrUtil@toUnderlineCase(pager.rangeField)} &gt;= #{item}
                    </if>
                    <if test="i==1 and item!=null">
                        and ${@cn.hutool.core.util.StrUtil@toUnderlineCase(pager.rangeField)} &lt;= #{item}
                    </if>
                </foreach>

            </if>
        </where>
    </sql>
    <sql id="sort">
        <if test="pager!=null and pager.sortField!=null and pager.sortOrder!=null">
            order by
            <foreach collection="pager.sortField.split(',')" item="s" index="i" separator=",">
                T.${@cn.hutool.core.util.StrUtil@toUnderlineCase(s)} ${pager.sortOrder.split(',')[i]}
            </foreach>
        </if>
    </sql>
    <sql id="page">
        <if test="pager!=null and  pager.paging">
            limit #{pager.beginRow},#{pager.pageSize}
        </if>
    </sql>


    <select id="findDmClassVideoListByCondition" parameterType="DmClassVideo" resultType="DmClassVideo">
        select
         <include refid="projection"/>
         from dm_class_video T  left join jw_classes C on T.class_id = C.id
         <include refid="match"/>
         <include refid="sort"/>
         <include refid="page"/>


    </select>
    <select id="findDmClassVideoCountByCondition" parameterType="DmClassVideo" resultType="long">
        select count(*) from dm_class_video T
        <include refid="match"/>
    </select>
    <select id="findDmClassVideoById" resultType="DmClassVideo">
        select * from dm_class_video where id=#{id}
    </select>
    <select id="findOneDmClassVideoByCondition" parameterType="DmClassVideo" resultType="DmClassVideo">
        select
         <include refid="projection"/>
         from dm_class_video T
        <include refid="match"/>
    </select>
    <insert id="saveDmClassVideo" parameterType="DmClassVideo">
        insert into dm_class_video
         (
            id,
            school_id,
            class_id,
            video_name,
            video_type,
            video_entry,
            video_url,
            create_time,
            video_sort,
            video_size
        ) values
         (
                #{id}
                ,
                #{schoolId}
                ,
                #{classId}
                ,
                #{videoName}
                ,
                #{videoType}
                ,
                #{videoEntry}
                ,
                #{videoUrl}
                ,
                now()
                ,
                #{videoSort}
                ,
                #{videoSize}
                
         )
    </insert>
    <update id="updateDmClassVideo" parameterType="DmClassVideo">
        update dm_class_video
        <set>
                    <if test="schoolId!=null ">
                        school_id=#{schoolId},
                    </if>
                    <if test="classId!=null ">
                        class_id=#{classId},
                    </if>
                    <if test="videoName!=null ">
                        video_name=#{videoName},
                    </if>
                    <if test="videoType!=null ">
                        video_type=#{videoType},
                    </if>
                    <if test="videoEntry!=null ">
                        video_entry=#{videoEntry},
                    </if>
                    <if test="videoUrl!=null ">
                        video_url=#{videoUrl},
                    </if>
                    <if test="createTime!=null ">
                        create_time=#{createTime},
                    </if>
                    <if test="videoSort!=null ">
                        video_sort=#{videoSort},
                    </if>
                    <if test="videoSize!=null ">
                        video_size=#{videoSize}
                    </if>
          </set>
         where id=#{id}
    </update>
    <delete id="deleteDmClassVideo" >
        delete from dm_class_video where id=#{id}
    </delete>
    <delete id="deleteDmClassVideoByCondition" >
        delete T from dm_class_video T
        <include refid="match"/>
    </delete>
    <insert id="batchSaveDmClassVideo" parameterType="DmClassVideo">
        INSERT INTO dm_class_video (  id,  school_id,  class_id, video_name,  video_type,  video_entry,  video_url,  create_time,  video_sort,  video_size )
        VALUES
        <foreach collection="list" item="dmClassVideo" separator=",">
            (  #{dmClassVideo.id},  #{dmClassVideo.schoolId},  #{dmClassVideo.classId}, #{dmClassVideo.videoName},  #{dmClassVideo.videoType},  #{dmClassVideo.videoEntry},  #{dmClassVideo.videoUrl},  #{dmClassVideo.createTime},  #{dmClassVideo.videoSort},  #{dmClassVideo.videoSize}  )
        </foreach>
    </insert>
    <delete id="batchDeleteDmClassVideo" >
        delete from dm_class_video where id in
        <foreach item="item" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
    <!--##################################################generated code end,do not update######################################################################-->
</mapper>