<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yice.edu.cn.jw.dao.dynamicTask.IDynamicCronDao">
    <!--########################################################generated code start,do not update################################################################-->
    <sql id="projection">
        <choose>
             <when test="pager!=null and pager.includes!=null">
                 <foreach collection="pager.includes" item="field" separator=",">
                     T.${@cn.hutool.core.util.StrUtil@toUnderlineCase(field)}
                 </foreach>
             </when>
             <when test="pager!=null and pager.excludes!=null">
                 <trim suffixOverrides=",">
                         <if test="!pager.excludes.contains('id')">
                             T.id,
                         </if>
                         <if test="!pager.excludes.contains('cron')">
                             T.cron,
                         </if>
                         <if test="!pager.excludes.contains('type')">
                             T.type,
                         </if>
                         <if test="!pager.excludes.contains('taskDescription')">
                             T.task_description,
                         </if>
                         <if test="!pager.excludes.contains('createTime')">
                             T.create_time,
                         </if>
                         <if test="!pager.excludes.contains('updateTime')">
                             T.update_time,
                         </if>
                 </trim>
             </when>
             <otherwise>
                 T.*
             </otherwise>
         </choose>
    </sql>
    <sql id="match">
        <where>
              <if test="id!=null">
                    <choose>
                         <when test="pager!=null and pager.like=='id'">
                             T.id like concat('%',#{id},'%')
                         </when>
                         <otherwise>
                             T.id=#{id}
                         </otherwise>
                      </choose>
              </if>
              <if test="cron!=null">
                    <choose>
                         <when test="pager!=null and pager.like=='cron'">
                            and T.cron like concat('%',#{cron},'%')
                         </when>
                         <otherwise>
                            and T.cron=#{cron}
                         </otherwise>
                      </choose>
              </if>
              <if test="type!=null">
                    <choose>
                         <when test="pager!=null and pager.like=='type'">
                            and T.type like concat('%',#{type},'%')
                         </when>
                         <otherwise>
                            and T.type=#{type}
                         </otherwise>
                      </choose>
              </if>
              <if test="taskDescription!=null">
                    <choose>
                         <when test="pager!=null and pager.like=='taskDescription'">
                            and T.task_description like concat('%',#{taskDescription},'%')
                         </when>
                         <otherwise>
                            and T.task_description=#{taskDescription}
                         </otherwise>
                      </choose>
              </if>
              <if test="createTime!=null">
                    <choose>
                         <when test="pager!=null and pager.like=='createTime'">
                            and T.create_time like concat('%',#{createTime},'%')
                         </when>
                         <otherwise>
                            and T.create_time=#{createTime}
                         </otherwise>
                      </choose>
              </if>
              <if test="updateTime!=null">
                    <choose>
                         <when test="pager!=null and pager.like=='updateTime'">
                            and T.update_time like concat('%',#{updateTime},'%')
                         </when>
                         <otherwise>
                            and T.update_time=#{updateTime}
                         </otherwise>
                      </choose>
              </if>
            <if test="pager!=null and pager.rangeField!=null and pager.rangeArray!=null and pager.rangeArray.length==2">
                <foreach collection="pager.rangeArray" item="item"  index="i">
                    <if test="i==0 and item!=null">
                        and ${@cn.hutool.core.util.StrUtil@toUnderlineCase(pager.rangeField)} &gt;= #{item}
                    </if>
                    <if test="i==1 and item!=null">
                        and ${@cn.hutool.core.util.StrUtil@toUnderlineCase(pager.rangeField)} &lt;= #{item}
                    </if>
                </foreach>

            </if>
        </where>
    </sql>
    <sql id="sort">
        <if test="pager!=null and pager.sortField!=null and pager.sortOrder!=null">
            order by
            <foreach collection="pager.sortField.split(',')" item="s" index="i" separator=",">
                T.${@cn.hutool.core.util.StrUtil@toUnderlineCase(s)} ${pager.sortOrder.split(',')[i]}
            </foreach>
        </if>
    </sql>
    <sql id="page">
        <if test="pager!=null and  pager.paging">
            limit #{pager.beginRow},#{pager.pageSize}
        </if>
    </sql>


    <select id="findDynamicCronListByCondition" parameterType="DynamicCron" resultType="DynamicCron">
        select
         <include refid="projection"/>
         from dynamic_cron T
         <include refid="match"/>
         <include refid="sort"/>
         <include refid="page"/>


    </select>
    <select id="findDynamicCronCountByCondition" parameterType="DynamicCron" resultType="long">
        select count(*) from dynamic_cron T
        <include refid="match"/>
    </select>
    <select id="findDynamicCronById" resultType="DynamicCron">
        select * from dynamic_cron where id=#{id}
    </select>
    <select id="findOneDynamicCronByCondition" parameterType="DynamicCron" resultType="DynamicCron">
        select
         <include refid="projection"/>
         from dynamic_cron T
        <include refid="match"/>
    </select>
    <insert id="saveDynamicCron" parameterType="DynamicCron">
        insert into dynamic_cron
         (
            id,
            cron,
            type,
            task_description,
            create_time,
            update_time
        ) values
         (
                #{id}
                ,
                #{cron}
                ,
                #{type}
                ,
                #{taskDescription}
                ,
                now()
                ,
                #{updateTime}
                
         )
    </insert>
    <update id="updateDynamicCron" parameterType="DynamicCron">
        update dynamic_cron
        <set>
                    <if test="cron!=null ">
                        cron=#{cron},
                    </if>
                    <if test="type!=null ">
                        type=#{type},
                    </if>
                    <if test="taskDescription!=null ">
                        task_description=#{taskDescription},
                    </if>
                    <if test="createTime!=null ">
                        create_time=#{createTime},
                    </if>
                    update_time=now()
          </set>
         where id=#{id}
    </update>
    <delete id="deleteDynamicCron" >
        delete from dynamic_cron where id=#{id}
    </delete>
    <delete id="deleteDynamicCronByCondition" >
        delete T from dynamic_cron T
        <include refid="match"/>
    </delete>
    <insert id="batchSaveDynamicCron" parameterType="DynamicCron">
        INSERT INTO dynamic_cron (  id,  cron,  type,  task_description,  create_time,  update_time )
        VALUES
        <foreach collection="list" item="dynamicCron" separator=",">
            (  #{dynamicCron.id},  #{dynamicCron.cron},  #{dynamicCron.type},  #{dynamicCron.taskDescription},  #{dynamicCron.createTime},  #{dynamicCron.updateTime}  )
        </foreach>
    </insert>
    <!--##################################################generated code end,do not update######################################################################-->
</mapper>