<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yice.edu.cn.jw.dao.timetable.ITimetableTeachInfoDao">
    <!--########################################################################################################################-->
    <select id="findTimetableTeachInfoListByCondition" parameterType="TimetableTeachInfo" resultType="TimetableTeachInfo">
        select
         <choose>
             <when test="pager!=null and pager.includes!=null">
                 <foreach collection="pager.includes" item="field" separator=",">
                     T.${@cn.hutool.core.util.StrUtil@toUnderlineCase(field)}
                 </foreach>
             </when>
             <when test="pager!=null and pager.excludes!=null">
                 <trim suffixOverrides=",">
                         <if test="!pager.excludes.contains('id')">
                             T.id,
                         </if>
                         <if test="!pager.excludes.contains('jobId')">
                             T.job_id,
                         </if>
                         <if test="!pager.excludes.contains('gradeId')">
                             T.grade_id,
                         </if>
                         <if test="!pager.excludes.contains('gradeName')">
                             T.grade_name,
                         </if>
                         <if test="!pager.excludes.contains('classId')">
                             T.class_id,
                         </if>
                         <if test="!pager.excludes.contains('classesName')">
                             T.classes_name,
                         </if>
                         <if test="!pager.excludes.contains('courseId')">
                             T.course_id,
                         </if>
                         <if test="!pager.excludes.contains('courseName')">
                             T.course_name,
                         </if>
                         <if test="!pager.excludes.contains('count')">
                             T.count,
                         </if>
                         <if test="!pager.excludes.contains('teacherId')">
                             T.teacher_id,
                         </if>
                         <if test="!pager.excludes.contains('teacherName')">
                             T.teacher_name,
                         </if>
                 </trim>
             </when>
             <otherwise>
                 T.*
             </otherwise>
         </choose>
         from jw_timetable_teach_info T
        <where>
              <if test="jobId!=null">
                    <choose>
                         <when test="pager!=null and pager.like=='jobId'">
                             T.job_id like concat('%',#{jobId},'%')
                         </when>
                         <otherwise>
                             T.job_id=#{jobId}
                         </otherwise>
                      </choose>
              </if>
              <if test="gradeId!=null">
                    <choose>
                         <when test="pager!=null and pager.like=='gradeId'">
                            and T.grade_id like concat('%',#{gradeId},'%')
                         </when>
                         <otherwise>
                            and T.grade_id=#{gradeId}
                         </otherwise>
                      </choose>
              </if>
              <if test="gradeName!=null">
                    <choose>
                         <when test="pager!=null and pager.like=='gradeName'">
                            and T.grade_name like concat('%',#{gradeName},'%')
                         </when>
                         <otherwise>
                            and T.grade_name=#{gradeName}
                         </otherwise>
                      </choose>
              </if>
              <if test="classId!=null">
                    <choose>
                         <when test="pager!=null and pager.like=='classId'">
                            and T.class_id like concat('%',#{classId},'%')
                         </when>
                         <otherwise>
                            and T.class_id=#{classId}
                         </otherwise>
                      </choose>
              </if>
              <if test="classesName!=null">
                    <choose>
                         <when test="pager!=null and pager.like=='classesName'">
                            and T.classes_name like concat('%',#{classesName},'%')
                         </when>
                         <otherwise>
                            and T.classes_name=#{classesName}
                         </otherwise>
                      </choose>
              </if>
              <if test="courseId!=null">
                    <choose>
                         <when test="pager!=null and pager.like=='courseId'">
                            and T.course_id like concat('%',#{courseId},'%')
                         </when>
                         <otherwise>
                            and T.course_id=#{courseId}
                         </otherwise>
                      </choose>
              </if>
              <if test="courseName!=null">
                    <choose>
                         <when test="pager!=null and pager.like=='courseName'">
                            and T.course_name like concat('%',#{courseName},'%')
                         </when>
                         <otherwise>
                            and T.course_name=#{courseName}
                         </otherwise>
                      </choose>
              </if>
              <if test="count!=null">
                    and T.count=#{count}
              </if>
              <if test="teacherId!=null">
                    <choose>
                         <when test="pager!=null and pager.like=='teacherId'">
                            and T.teacher_id like concat('%',#{teacherId},'%')
                         </when>
                         <otherwise>
                            and T.teacher_id=#{teacherId}
                         </otherwise>
                      </choose>
              </if>
              <if test="teacherName!=null">
                    <choose>
                         <when test="pager!=null and pager.like=='teacherName'">
                            and T.teacher_name like concat('%',#{teacherName},'%')
                         </when>
                         <otherwise>
                            and T.teacher_name=#{teacherName}
                         </otherwise>
                      </choose>
              </if>
        </where>
        <if test="pager!=null and pager.sortField!=null and pager.sortOrder!=null">
            order by T.${@cn.hutool.core.util.StrUtil@toUnderlineCase(pager.sortField)} ${@cn.hutool.core.util.StrUtil@toUnderlineCase(pager.sortOrder)}
        </if>
        <if test="pager!=null and  pager.paging">
            limit #{pager.beginRow},#{pager.pageSize}
        </if>
    </select>
    <select id="findTimetableTeachInfoCountByCondition" parameterType="TimetableTeachInfo" resultType="long">
        select count(*) from jw_timetable_teach_info T
        <where>
              <if test="jobId!=null">
                    <choose>
                         <when test="pager!=null and pager.like=='jobId'">
                             T.job_id like concat('%',#{jobId},'%')
                         </when>
                         <otherwise>
                             T.job_id=#{jobId}
                         </otherwise>
                      </choose>
            </if>
              <if test="gradeId!=null">
                    <choose>
                         <when test="pager!=null and pager.like=='gradeId'">
                            and T.grade_id like concat('%',#{gradeId},'%')
                         </when>
                         <otherwise>
                            and T.grade_id=#{gradeId}
                         </otherwise>
                      </choose>
            </if>
              <if test="gradeName!=null">
                    <choose>
                         <when test="pager!=null and pager.like=='gradeName'">
                            and T.grade_name like concat('%',#{gradeName},'%')
                         </when>
                         <otherwise>
                            and T.grade_name=#{gradeName}
                         </otherwise>
                      </choose>
            </if>
              <if test="classId!=null">
                    <choose>
                         <when test="pager!=null and pager.like=='classId'">
                            and T.class_id like concat('%',#{classId},'%')
                         </when>
                         <otherwise>
                            and T.class_id=#{classId}
                         </otherwise>
                      </choose>
            </if>
              <if test="classesName!=null">
                    <choose>
                         <when test="pager!=null and pager.like=='classesName'">
                            and T.classes_name like concat('%',#{classesName},'%')
                         </when>
                         <otherwise>
                            and T.classes_name=#{classesName}
                         </otherwise>
                      </choose>
            </if>
              <if test="courseId!=null">
                    <choose>
                         <when test="pager!=null and pager.like=='courseId'">
                            and T.course_id like concat('%',#{courseId},'%')
                         </when>
                         <otherwise>
                            and T.course_id=#{courseId}
                         </otherwise>
                      </choose>
            </if>
              <if test="courseName!=null">
                    <choose>
                         <when test="pager!=null and pager.like=='courseName'">
                            and T.course_name like concat('%',#{courseName},'%')
                         </when>
                         <otherwise>
                            and T.course_name=#{courseName}
                         </otherwise>
                      </choose>
            </if>
              <if test="count!=null">
                    and T.count=#{count}
            </if>
              <if test="teacherId!=null">
                    <choose>
                         <when test="pager!=null and pager.like=='teacherId'">
                            and T.teacher_id like concat('%',#{teacherId},'%')
                         </when>
                         <otherwise>
                            and T.teacher_id=#{teacherId}
                         </otherwise>
                      </choose>
            </if>
              <if test="teacherName!=null">
                    <choose>
                         <when test="pager!=null and pager.like=='teacherName'">
                            and T.teacher_name like concat('%',#{teacherName},'%')
                         </when>
                         <otherwise>
                            and T.teacher_name=#{teacherName}
                         </otherwise>
                      </choose>
            </if>
        </where>
    </select>
    <select id="findTimetableTeachInfoById" resultType="TimetableTeachInfo">
        select * from jw_timetable_teach_info where id=#{id}
    </select>
    <select id="findOneTimetableTeachInfoByCondition" parameterType="TimetableTeachInfo" resultType="TimetableTeachInfo">
        select
         <choose>
             <when test="pager!=null and pager.includes!=null">
                 <foreach collection="pager.includes" item="field" separator=",">
                     T.${@cn.hutool.core.util.StrUtil@toUnderlineCase(field)}
                 </foreach>
             </when>
             <when test="pager!=null and pager.excludes!=null">
                 <trim suffixOverrides=",">
                         <if test="!pager.excludes.contains('id')">
                             T.id,
                         </if>
                         <if test="!pager.excludes.contains('jobId')">
                             T.job_id,
                         </if>
                         <if test="!pager.excludes.contains('gradeId')">
                             T.grade_id,
                         </if>
                         <if test="!pager.excludes.contains('gradeName')">
                             T.grade_name,
                         </if>
                         <if test="!pager.excludes.contains('classId')">
                             T.class_id,
                         </if>
                         <if test="!pager.excludes.contains('classesName')">
                             T.classes_name,
                         </if>
                         <if test="!pager.excludes.contains('courseId')">
                             T.course_id,
                         </if>
                         <if test="!pager.excludes.contains('courseName')">
                             T.course_name,
                         </if>
                         <if test="!pager.excludes.contains('count')">
                             T.count,
                         </if>
                         <if test="!pager.excludes.contains('teacherId')">
                             T.teacher_id,
                         </if>
                         <if test="!pager.excludes.contains('teacherName')">
                             T.teacher_name,
                         </if>
                 </trim>
             </when>
             <otherwise>
                 T.*
             </otherwise>
         </choose>
         from jw_timetable_teach_info T
        <where>
              <if test="jobId!=null">
                 T.job_id=#{jobId}
              </if>
              <if test="gradeId!=null">
                and T.grade_id=#{gradeId}
              </if>
              <if test="gradeName!=null">
                and T.grade_name=#{gradeName}
              </if>
              <if test="classId!=null">
                and T.class_id=#{classId}
              </if>
              <if test="classesName!=null">
                and T.classes_name=#{classesName}
              </if>
              <if test="courseId!=null">
                and T.course_id=#{courseId}
              </if>
              <if test="courseName!=null">
                and T.course_name=#{courseName}
              </if>
              <if test="count!=null">
                and T.count=#{count}
              </if>
              <if test="teacherId!=null">
                and T.teacher_id=#{teacherId}
              </if>
              <if test="teacherName!=null">
                and T.teacher_name=#{teacherName}
              </if>
        </where>
    </select>
    <insert id="saveTimetableTeachInfo" parameterType="TimetableTeachInfo">
        insert into jw_timetable_teach_info
         (
            id,
            job_id,
            grade_id,
            grade_name,
            class_id,
            classes_name,
            course_id,
            course_name,
            count,
            teacher_id,
            teacher_name
        ) values
         (
                #{id}
                ,
                #{jobId}
                ,
                #{gradeId}
                ,
                #{gradeName}
                ,
                #{classId}
                ,
                #{classesName}
                ,
                #{courseId}
                ,
                #{courseName}
                ,
                #{count}
                ,
                #{teacherId}
                ,
                #{teacherName}
                
         )
    </insert>
    <update id="updateTimetableTeachInfo" parameterType="TimetableTeachInfo">
        update jw_timetable_teach_info
        <set>
                    <if test="jobId!=null ">
                        job_id=#{jobId},
                    </if>
                    <if test="gradeId!=null ">
                        grade_id=#{gradeId},
                    </if>
                    <if test="gradeName!=null ">
                        grade_name=#{gradeName},
                    </if>
                    <if test="classId!=null ">
                        class_id=#{classId},
                    </if>
                    <if test="classesName!=null ">
                        classes_name=#{classesName},
                    </if>
                    <if test="courseId!=null ">
                        course_id=#{courseId},
                    </if>
                    <if test="courseName!=null ">
                        course_name=#{courseName},
                    </if>
                    <if test="count!=null ">
                        count=#{count},
                    </if>
                    <if test="teacherId!=null ">
                        teacher_id=#{teacherId},
                    </if>
                    <if test="teacherName!=null ">
                        teacher_name=#{teacherName}
                    </if>
          </set>
         where id=#{id}
    </update>
    <delete id="deleteTimetableTeachInfo" >
        delete from jw_timetable_teach_info where id=#{id}
    </delete>
    <delete id="deleteTimetableTeachInfoByCondition" >
        delete from jw_timetable_teach_info
        <where>
              <if test="id!=null">
                 id=#{id}
              </if>
              <if test="jobId!=null">
                and job_id=#{jobId}
              </if>
              <if test="gradeId!=null">
                and grade_id=#{gradeId}
              </if>
              <if test="gradeName!=null">
                and grade_name=#{gradeName}
              </if>
              <if test="classId!=null">
                and class_id=#{classId}
              </if>
              <if test="classesName!=null">
                and classes_name=#{classesName}
              </if>
              <if test="courseId!=null">
                and course_id=#{courseId}
              </if>
              <if test="courseName!=null">
                and course_name=#{courseName}
              </if>
              <if test="count!=null">
                and count=#{count}
              </if>
              <if test="teacherId!=null">
                and teacher_id=#{teacherId}
              </if>
              <if test="teacherName!=null">
                and teacher_name=#{teacherName}
              </if>
        </where>
    </delete>
    <insert id="batchSaveTimetableTeachInfo" parameterType="TimetableTeachInfo">
        INSERT INTO jw_timetable_teach_info (  id,  job_id,  grade_id,  grade_name,  class_id,  classes_name,  course_id,  course_name,  count,  teacher_id,  teacher_name )
        VALUES
        <foreach collection="list" item="timetableTeachInfo" separator=",">
            (  #{timetableTeachInfo.id},  #{timetableTeachInfo.jobId},  #{timetableTeachInfo.gradeId},  #{timetableTeachInfo.gradeName},  #{timetableTeachInfo.classId},  #{timetableTeachInfo.classesName},  #{timetableTeachInfo.courseId},  #{timetableTeachInfo.courseName},  #{timetableTeachInfo.count},  #{timetableTeachInfo.teacherId},  #{timetableTeachInfo.teacherName}  )
        </foreach>
    </insert>
    <!--########################################################################################################################-->
    
    <select id="findTeachInfoCourseByJobId" resultType="ArrangeCourse">
    	SELECT DISTINCT course_id id,course_name name FROM `jw_timetable_teach_info` where job_id=#{jobId};
    </select>
    
    <select id="findTeacherByJobIdAndCourseId" resultType="ArrangeTeacher">
    	SELECT DISTINCT teacher_id id,teacher_name name FROM `jw_timetable_teach_info` where job_id=#{jobId} and course_id=#{courseId};
    </select>
    
    <select id="findArrangeClassByJobId" resultType="ArrangeClass">
    	SELECT DISTINCT class_id id,classes_name name FROM `jw_timetable_teach_info` where job_id=#{jobId} ;
    </select>
</mapper>