<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yice.edu.cn.xw.dao.zc.assetsBasicCategory.IAssetsBasicCategoryDao">
    <!--########################################################generated code start,do not update################################################################-->
    <sql id="projection">
        <choose>
             <when test="pager!=null and pager.includes!=null">
                 <foreach collection="pager.includes" item="field" separator=",">
                     T.${@cn.hutool.core.util.StrUtil@toUnderlineCase(field)}
                 </foreach>
             </when>
             <when test="pager!=null and pager.excludes!=null">
                 <trim suffixOverrides=",">
                         <if test="!pager.excludes.contains('id')">
                             T.id,
                         </if>
                         <if test="!pager.excludes.contains('name')">
                             T.name,
                         </if>
                 </trim>
             </when>
             <otherwise>
                 T.*
             </otherwise>
         </choose>
    </sql>
    <sql id="match">
        <where>
              <if test="id!=null">
                    <choose>
                         <when test="pager!=null and pager.like!=null and pager.like.contains('id')">
                             T.id like concat('%',#{id},'%')
                         </when>
                         <otherwise>
                             T.id=#{id}
                         </otherwise>
                      </choose>
              </if>
              <if test="name!=null">
                    <choose>
                         <when test="pager!=null and pager.like!=null and pager.like.contains('name')">
                            and T.name like concat('%',#{name},'%')
                         </when>
                         <otherwise>
                            and T.name=#{name}
                         </otherwise>
                      </choose>
              </if>
            <if test="pager!=null and pager.rangeField!=null and pager.rangeArray!=null and pager.rangeArray.length==2">
                <foreach collection="pager.rangeArray" item="item"  index="i">
                    <if test="i==0 and item!=null">
                        and ${@cn.hutool.core.util.StrUtil@toUnderlineCase(pager.rangeField)} &gt;= #{item}
                    </if>
                    <if test="i==1 and item!=null">
                        and ${@cn.hutool.core.util.StrUtil@toUnderlineCase(pager.rangeField)} &lt;= #{item}
                    </if>
                </foreach>

            </if>
        </where>
    </sql>
    <sql id="sort">
        <if test="pager!=null and pager.sortField!=null and pager.sortOrder!=null">
            order by
            <foreach collection="pager.sortField.split(',')" item="s" index="i" separator=",">
                T.${@cn.hutool.core.util.StrUtil@toUnderlineCase(s)} ${pager.sortOrder.split(',')[i]}
            </foreach>
        </if>
    </sql>
    <sql id="page">
        <if test="pager!=null and  pager.paging">
            limit #{pager.beginRow},#{pager.pageSize}
        </if>
    </sql>


    <select id="findAssetsBasicCategoryListByCondition" parameterType="AssetsBasicCategory" resultType="AssetsBasicCategory">
        select
         <include refid="projection"/>
         from xw_assets_basic_category T
         <include refid="match"/>
         <include refid="sort"/>
         <include refid="page"/>


    </select>
    <select id="findAssetsBasicCategoryCountByCondition" parameterType="AssetsBasicCategory" resultType="long">
        select count(*) from xw_assets_basic_category T
        <include refid="match"/>
    </select>
    <select id="findAssetsBasicCategoryById" resultType="AssetsBasicCategory">
        select * from xw_assets_basic_category where id=#{id}
    </select>
    <select id="findOneAssetsBasicCategoryByCondition" parameterType="AssetsBasicCategory" resultType="AssetsBasicCategory">
        select
         <include refid="projection"/>
         from xw_assets_basic_category T
        <include refid="match"/>
    </select>
    <insert id="saveAssetsBasicCategory" parameterType="AssetsBasicCategory">
        INSERT INTO xw_assets_basic_category (  id,  name )
         values
         (   #{id}  ,   #{name}    )
    </insert>
    <update id="updateAssetsBasicCategory" parameterType="AssetsBasicCategory">
        update xw_assets_basic_category
        <set>
                    name=#{name}
          </set>
         where id=#{id}
    </update>
    <update id="updateAssetsBasicCategoryForNotNull" parameterType="AssetsBasicCategory">
        update xw_assets_basic_category
        <set>
                    <if test="name!=null ">
                        name=#{name}
                    </if>
          </set>
         where id=#{id}
    </update>
    <delete id="deleteAssetsBasicCategory" >
        delete from xw_assets_basic_category where id=#{id}
    </delete>
    <delete id="deleteAssetsBasicCategoryByCondition" >
        delete T from xw_assets_basic_category T
        <include refid="match"/>
    </delete>
    <insert id="batchSaveAssetsBasicCategory" parameterType="AssetsBasicCategory">
        INSERT INTO xw_assets_basic_category (  id,  name )
        VALUES
        <foreach collection="list" item="assetsBasicCategory" separator=",">
            (   #{assetsBasicCategory.id}  ,   #{assetsBasicCategory.name}    )
        </foreach>
    </insert>
    <!--##################################################generated code end,do not update######################################################################-->
</mapper>