<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yice.edu.cn.jw.dao.teacher.IJwTeacherCmsDao">
    <!--########################################################generated code start,do not update################################################################-->
    <sql id="projection">
        <choose>
            <when test="pager!=null and pager.includes!=null">
                <foreach collection="pager.includes" item="field" separator=",">
                    T.${@cn.hutool.core.util.StrUtil@toUnderlineCase(field)}
                </foreach>
            </when>
            <when test="pager!=null and pager.excludes!=null">
                <trim suffixOverrides=",">
                    <if test="!pager.excludes.contains('id')">
                        T.id,
                    </if>
                    <if test="!pager.excludes.contains('account')">
                        T.account,
                    </if>
                    <if test="!pager.excludes.contains('password')">
                        T.password,
                    </if>
                    <if test="!pager.excludes.contains('teacherId')">
                        T.teacher_id,
                    </if>
                    <if test="!pager.excludes.contains('schoolId')">
                        T.school_id,
                    </if>
                    <if test="!pager.excludes.contains('createTime')">
                        T.create_time,
                    </if>
                    <if test="!pager.excludes.contains('updateTime')">
                        T.update_time,
                    </if>
                </trim>
            </when>
            <otherwise>
                T.*
            </otherwise>
        </choose>
    </sql>
    <sql id="match">
        <where>
            <if test="id!=null">
                <choose>
                    <when test="pager!=null and pager.like=='id'">
                        T.id like concat('%',#{id},'%')
                    </when>
                    <otherwise>
                        T.id=#{id}
                    </otherwise>
                </choose>
            </if>
            <if test="account!=null">
                <choose>
                    <when test="pager!=null and pager.like=='account'">
                        and T.account like concat('%',#{account},'%')
                    </when>
                    <otherwise>
                        and T.account=#{account}
                    </otherwise>
                </choose>
            </if>
            <if test="password!=null">
                <choose>
                    <when test="pager!=null and pager.like=='password'">
                        and T.password like concat('%',#{password},'%')
                    </when>
                    <otherwise>
                        and T.password=#{password}
                    </otherwise>
                </choose>
            </if>
            <if test="teacherId!=null">
                <choose>
                    <when test="pager!=null and pager.like=='teacherId'">
                        and T.teacher_id like concat('%',#{teacherId},'%')
                    </when>
                    <otherwise>
                        and T.teacher_id=#{teacherId}
                    </otherwise>
                </choose>
            </if>
            <if test="schoolId!=null">
                <choose>
                    <when test="pager!=null and pager.like=='schoolId'">
                        and T.school_id like concat('%',#{schoolId},'%')
                    </when>
                    <otherwise>
                        and T.school_id=#{schoolId}
                    </otherwise>
                </choose>
            </if>
            <if test="createTime!=null">
                <choose>
                    <when test="pager!=null and pager.like=='createTime'">
                        and T.create_time like concat('%',#{createTime},'%')
                    </when>
                    <otherwise>
                        and T.create_time=#{createTime}
                    </otherwise>
                </choose>
            </if>
            <if test="updateTime!=null">
                <choose>
                    <when test="pager!=null and pager.like=='updateTime'">
                        and T.update_time like concat('%',#{updateTime},'%')
                    </when>
                    <otherwise>
                        and T.update_time=#{updateTime}
                    </otherwise>
                </choose>
            </if>
            <if test="pager!=null and pager.rangeField!=null and pager.rangeArray!=null and pager.rangeArray.length==2">
                <foreach collection="pager.rangeArray" item="item" index="i">
                    <if test="i==0 and item!=null">
                        and ${@cn.hutool.core.util.StrUtil@toUnderlineCase(pager.rangeField)} &gt;= #{item}
                    </if>
                    <if test="i==1 and item!=null">
                        and ${@cn.hutool.core.util.StrUtil@toUnderlineCase(pager.rangeField)} &lt;= #{item}
                    </if>
                </foreach>

            </if>
        </where>
    </sql>
    <sql id="sort">
        <if test="pager!=null and pager.sortField!=null and pager.sortOrder!=null">
            order by
            <foreach collection="pager.sortField.split(',')" item="s" index="i" separator=",">
                T.${@cn.hutool.core.util.StrUtil@toUnderlineCase(s)} ${pager.sortOrder.split(',')[i]}
            </foreach>
        </if>
    </sql>
    <sql id="page">
        <if test="pager!=null and  pager.paging">
            limit #{pager.beginRow},#{pager.pageSize}
        </if>
    </sql>


    <select id="findJwTeacherCmsListByCondition" parameterType="JwTeacherCms" resultType="JwTeacherCms">
        select
        <include refid="projection"/>
        from jw_teacher_cms T
        <include refid="match"/>
        <include refid="sort"/>
        <include refid="page"/>


    </select>
    <select id="findJwTeacherCmsCountByCondition" parameterType="JwTeacherCms" resultType="long">
        select count(*) from jw_teacher_cms T
        <include refid="match"/>
    </select>
    <select id="findJwTeacherCmsById" resultType="JwTeacherCms">
        select * from jw_teacher_cms where id=#{id}
    </select>
    <select id="findOneJwTeacherCmsByCondition" parameterType="JwTeacherCms" resultType="JwTeacherCms">
        select
        <include refid="projection"/>
        from jw_teacher_cms T
        <include refid="match"/>
    </select>
    <insert id="saveJwTeacherCms" parameterType="JwTeacherCms">
        insert into jw_teacher_cms
         (
            id,
            account,
            password,
            teacher_id,
            school_id,
            create_time,
            update_time
        ) values
         (
                #{id}
                ,
                #{account}
                ,
                #{password}
                ,
                #{teacherId}
                ,
                #{schoolId}
                ,
                now()
                ,
                #{updateTime}
                
         )
    </insert>
    <update id="updateJwTeacherCms" parameterType="JwTeacherCms">
        update jw_teacher_cms
        <set>
            <if test="account!=null ">
                account=#{account},
            </if>
            <if test="password!=null ">
                password=#{password},
            </if>
            <if test="teacherId!=null ">
                teacher_id=#{teacherId},
            </if>
            <if test="schoolId!=null ">
                school_id=#{schoolId},
            </if>
            <if test="createTime!=null ">
                create_time=#{createTime},
            </if>
            update_time=now()
        </set>
        where id=#{id}
    </update>
    <delete id="deleteJwTeacherCms">
        delete from jw_teacher_cms where id=#{id}
    </delete>
    <delete id="deleteJwTeacherCmsByCondition">
        delete T from jw_teacher_cms T
        <include refid="match"/>
    </delete>
    <insert id="batchSaveJwTeacherCms" parameterType="JwTeacherCms">
        INSERT INTO jw_teacher_cms ( id, account, password, teacher_id, school_id, create_time, update_time )
        VALUES
        <foreach collection="list" item="jwTeacherCms" separator=",">
            ( #{jwTeacherCms.id}, #{jwTeacherCms.account}, #{jwTeacherCms.password}, #{jwTeacherCms.teacherId},
            #{jwTeacherCms.schoolId}, #{jwTeacherCms.createTime}, #{jwTeacherCms.updateTime} )
        </foreach>
    </insert>
    <!--##################################################generated code end,do not update######################################################################-->
</mapper>