<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yice.edu.cn.xw.dao.cms.IXwCmsContentFileDao">
    <!--########################################################generated code start,do not update################################################################-->
    <sql id="projection">
        <choose>
            <when test="pager!=null and pager.includes!=null">
                <foreach collection="pager.includes" item="field" separator=",">
                    T.${@cn.hutool.core.util.StrUtil@toUnderlineCase(field)}
                </foreach>
            </when>
            <when test="pager!=null and pager.excludes!=null">
                <trim suffixOverrides=",">
                    <if test="!pager.excludes.contains('id')">
                        T.id,
                    </if>
                    <if test="!pager.excludes.contains('fileName')">
                        T.file_name,
                    </if>
                    <if test="!pager.excludes.contains('referenceType')">
                        T.reference_type,
                    </if>
                    <if test="!pager.excludes.contains('filePath')">
                        T.file_path,
                    </if>
                    <if test="!pager.excludes.contains('referenceId')">
                        T.reference_id,
                    </if>
                    <if test="!pager.excludes.contains('fileDesc')">
                        T.file_desc,
                    </if>
                    <if test="!pager.excludes.contains('fileType')">
                        T.file_type,
                    </if>
                </trim>
            </when>
            <otherwise>
                T.*
            </otherwise>
        </choose>
    </sql>
    <sql id="match">
        <where>
            <if test="id!=null">
                <choose>
                    <when test="pager!=null and pager.like=='id'">
                        T.id like concat('%',#{id},'%')
                    </when>
                    <otherwise>
                        T.id=#{id}
                    </otherwise>
                </choose>
            </if>
            <if test="fileName!=null">
                <choose>
                    <when test="pager!=null and pager.like=='fileName'">
                        and T.file_name like concat('%',#{fileName},'%')
                    </when>
                    <otherwise>
                        and T.file_name=#{fileName}
                    </otherwise>
                </choose>
            </if>
            <if test="referenceType!=null">
                and T.reference_type=#{referenceType}
            </if>
            <if test="filePath!=null">
                <choose>
                    <when test="pager!=null and pager.like=='filePath'">
                        and T.file_path like concat('%',#{filePath},'%')
                    </when>
                    <otherwise>
                        and T.file_path=#{filePath}
                    </otherwise>
                </choose>
            </if>
            <if test="referenceId!=null">
                <choose>
                    <when test="pager!=null and pager.like=='referenceId'">
                        and T.reference_id like concat('%',#{referenceId},'%')
                    </when>
                    <otherwise>
                        and T.reference_id=#{referenceId}
                    </otherwise>
                </choose>
            </if>
            <if test="fileDesc!=null">
                <choose>
                    <when test="pager!=null and pager.like=='fileDesc'">
                        and T.file_desc like concat('%',#{fileDesc},'%')
                    </when>
                    <otherwise>
                        and T.file_desc=#{fileDesc}
                    </otherwise>
                </choose>
            </if>
            <if test="fileType!=null">
                and T.file_type=#{fileType}
            </if>
            <if test="pager!=null and pager.rangeField!=null and pager.rangeArray!=null and pager.rangeArray.length==2">
                <foreach collection="pager.rangeArray" item="item" index="i">
                    <if test="i==0 and item!=null">
                        and ${@cn.hutool.core.util.StrUtil@toUnderlineCase(pager.rangeField)} &gt;= #{item}
                    </if>
                    <if test="i==1 and item!=null">
                        and ${@cn.hutool.core.util.StrUtil@toUnderlineCase(pager.rangeField)} &lt;= #{item}
                    </if>
                </foreach>

            </if>
        </where>
    </sql>
    <sql id="sort">
        <if test="pager!=null and pager.sortField!=null and pager.sortOrder!=null">
            order by
            <foreach collection="pager.sortField.split(',')" item="s" index="i" separator=",">
                T.${@cn.hutool.core.util.StrUtil@toUnderlineCase(s)} ${pager.sortOrder.split(',')[i]}
            </foreach>
        </if>
    </sql>
    <sql id="page">
        <if test="pager!=null and  pager.paging">
            limit #{pager.beginRow},#{pager.pageSize}
        </if>
    </sql>


    <select id="findXwCmsContentFileListByCondition" parameterType="XwCmsContentFile" resultType="XwCmsContentFile">
        select
        <include refid="projection"/>
        from xw_cms_content_file T
        <include refid="match"/>
        <include refid="sort"/>
        <include refid="page"/>


    </select>
    <select id="findXwCmsContentFileCountByCondition" parameterType="XwCmsContentFile" resultType="long">
        select count(*) from xw_cms_content_file T
        <include refid="match"/>
    </select>
    <select id="findXwCmsContentFileById" resultType="XwCmsContentFile">
        select * from xw_cms_content_file where id=#{id}
    </select>
    <select id="findOneXwCmsContentFileByCondition" parameterType="XwCmsContentFile" resultType="XwCmsContentFile">
        select
        <include refid="projection"/>
        from xw_cms_content_file T
        <include refid="match"/>
    </select>
    <insert id="saveXwCmsContentFile" parameterType="XwCmsContentFile">
        insert into xw_cms_content_file
         (
            id,
            file_name,
            reference_type,
            file_path,
            reference_id,
            file_desc,
            file_type
        ) values
         (
                #{id}
                ,
                #{fileName}
                ,
                #{referenceType}
                ,
                #{filePath}
                ,
                #{referenceId}
                ,
                #{fileDesc}
                ,
                #{fileType}
                
         )
    </insert>
    <update id="updateXwCmsContentFile" parameterType="XwCmsContentFile">
        update xw_cms_content_file
        <set>
            <if test="fileName!=null ">
                file_name=#{fileName},
            </if>
            <if test="referenceType!=null ">
                reference_type=#{referenceType},
            </if>
            <if test="filePath!=null ">
                file_path=#{filePath},
            </if>
            <if test="referenceId!=null ">
                reference_id=#{referenceId},
            </if>
            <if test="fileDesc!=null ">
                file_desc=#{fileDesc},
            </if>
            <if test="fileType!=null ">
                file_type=#{fileType}
            </if>
        </set>
        where id=#{id}
    </update>
    <delete id="deleteXwCmsContentFile">
        delete from xw_cms_content_file where id=#{id}
    </delete>
    <delete id="deleteXwCmsContentFileByCondition">
        delete T from xw_cms_content_file T
        <include refid="match"/>
    </delete>
    <insert id="batchSaveXwCmsContentFile" parameterType="XwCmsContentFile">
        INSERT INTO xw_cms_content_file ( id, file_name, reference_type, file_path, reference_id, file_desc, file_type,create_time,school_id )
        VALUES
        <foreach collection="list" item="xwCmsContentFile" separator=",">
            ( #{xwCmsContentFile.id}, #{xwCmsContentFile.fileName}, #{xwCmsContentFile.referenceType},
            #{xwCmsContentFile.filePath}, #{xwCmsContentFile.referenceId}, #{xwCmsContentFile.fileDesc},
            #{xwCmsContentFile.fileType},#{xwCmsContentFile.createTime},#{xwCmsContentFile.schoolId} )
        </foreach>
    </insert>
    <delete id="deleteFilesByReferenceId">
        delete from xw_cms_content_file where reference_id=#{referenceId}
    </delete>

    <select id="findFileByReferenceId" resultType="XwCmsContentFile">
        select * from xw_cms_content_file where reference_id = #{referenceId}
    </select>

    <!--##################################################generated code end,do not update######################################################################-->
</mapper>