<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yice.edu.cn.jw.dao.equipmentType.EquipmentLibraryDao">
    <!--########################################################################################################################-->
    <select id="findEquipmentLibraryListByCondition" parameterType="EquipmentLibrary" resultType="EquipmentLibrary">
        select
         <choose>
             <when test="pager!=null and pager.includes!=null">
                 <foreach collection="pager.includes" item="field" separator=",">
                     T.${@cn.hutool.core.util.StrUtil@toUnderlineCase(field)}
                 </foreach>
             </when>
             <when test="pager!=null and pager.excludes!=null">
                 <trim suffixOverrides=",">
                         <if test="!pager.excludes.contains('id')">
                             T.id,
                         </if>
                         <if test="!pager.excludes.contains('createTime')">
                             T.create_time,
                         </if>
                         <if test="!pager.excludes.contains('updateTime')">
                             T.update_time,
                         </if>
                         <if test="!pager.excludes.contains('del')">
                             T.del,
                         </if>
                         <if test="!pager.excludes.contains('vendorId')">
                             T.vendor_id,
                         </if>
                         <if test="!pager.excludes.contains('deviceId')">
                             T.device_id,
                         </if>
                         <if test="!pager.excludes.contains('remarks')">
                             T.remarks,
                         </if>
                         <if test="!pager.excludes.contains('equipmentNumber')">
                             T.equipment_number,
                         </if>
                 </trim>
             </when>
             <otherwise>
                 T.*
             </otherwise>
         </choose>
         from equipment_library T
        <where>
              <if test="createTime!=null">
                 T.create_time=#{createTime}
              </if>
              <if test="updateTime!=null">
                and T.update_time=#{updateTime}
              </if>
              <if test="del!=null">
                and T.del=#{del}
              </if>
              <if test="vendorId!=null">
                and T.vendor_id=#{vendorId}
              </if>
              <if test="deviceId!=null">
                and T.device_id=#{deviceId}
              </if>
              <if test="remarks!=null">
                and T.remarks=#{remarks}
              </if>
              <if test="equipmentNumber!=null">
                and T.equipment_number=#{equipmentNumber}
              </if>

        </where>
        <if test="pager!=null and pager.sortField!=null and pager.sortOrder!=null">
            order by T.${@cn.hutool.core.util.StrUtil@toUnderlineCase(pager.sortField)} ${@cn.hutool.core.util.StrUtil@toUnderlineCase(pager.sortOrder)}
        </if>
        <if test="pager!=null and  pager.paging">
            limit #{pager.beginRow},#{pager.pageSize}
        </if>
    </select>
    <select id="findEquipmentLibraryCountByCondition" parameterType="EquipmentLibrary" resultType="long">
        select count(*) from equipment_library T left join equipment_vendor_management v on T.vendor_id = v.id
        left join equipment_device_name d on T.device_id = d.id
        <where>
              <if test="deviceName!=null">
                v.vendor_name like  "%"#{deviceName}"%" or d.device_name like  "%"#{deviceName}"%"
              </if>
              <if test="createTime!=null">
                and create_time=#{createTime}
              </if>
              <if test="updateTime!=null">
                and update_time=#{updateTime}
              </if>
              <if test="del!=null">
                and del=#{del}
              </if>
              <if test="vendorId!=null">
                and vendor_id=#{vendorId}
              </if>
              <if test="deviceId!=null">
                and device_id=#{deviceId}
              </if>
              <if test="remarks!=null">
                and remarks=#{remarks}
              </if>
              <if test="equipmentNumber!=null">
                and equipment_number=#{equipmentNumber}
              </if>
        </where>
    </select>
    <select id="findEquipmentLibraryById" resultType="EquipmentLibrary">
        select * from equipment_library  where id=#{id}
    </select>
    <select id="findOneEquipmentLibraryByCondition" parameterType="EquipmentLibrary" resultType="EquipmentLibrary">
        select
         <choose>
             <when test="pager!=null and pager.includes!=null">
                 <foreach collection="pager.includes" item="field" separator=",">
                     T.${@cn.hutool.core.util.StrUtil@toUnderlineCase(field)}
                 </foreach>
             </when>
             <when test="pager!=null and pager.excludes!=null">
                 <trim suffixOverrides=",">
                         <if test="!pager.excludes.contains('id')">
                             T.id,
                         </if>
                         <if test="!pager.excludes.contains('createTime')">
                             T.create_time,
                         </if>
                         <if test="!pager.excludes.contains('updateTime')">
                             T.update_time,
                         </if>
                         <if test="!pager.excludes.contains('del')">
                             T.del,
                         </if>
                         <if test="!pager.excludes.contains('vendorId')">
                             T.vendor_id,
                         </if>
                         <if test="!pager.excludes.contains('deviceId')">
                             T.device_id,
                         </if>
                         <if test="!pager.excludes.contains('remarks')">
                             T.remarks,
                         </if>
                         <if test="!pager.excludes.contains('equipmentNumber')">
                             T.equipment_number,
                         </if>
                 </trim>
             </when>
             <otherwise>
                 T.*
             </otherwise>
         </choose>
         from equipment_library T
        <where>
              <if test="createTime!=null">
                 T.create_time=#{createTime}
              </if>
              <if test="updateTime!=null">
                and T.update_time=#{updateTime}
              </if>
              <if test="del!=null">
                and T.del=#{del}
              </if>
              <if test="vendorId!=null">
                and T.vendor_id=#{vendorId}
              </if>
              <if test="deviceId!=null">
                and T.device_id=#{deviceId}
              </if>
              <if test="remarks!=null">
                and T.remarks=#{remarks}
              </if>
              <if test="equipmentNumber!=null">
                and T.equipment_number=#{equipmentNumber}
              </if>
        </where>
    </select>
    <insert id="saveEquipmentLibrary" parameterType="EquipmentLibrary">
        insert into equipment_library
         (
            id,
            create_time,
            update_time,
            del,
            vendor_id,
            device_id,
            remarks,
            equipment_number
        ) values
         (
                #{id}
                ,
                now()
                ,
                #{updateTime}
                ,
                #{del}
                ,
                #{vendorId}
                ,
                #{deviceId}
                ,
                #{remarks}
                ,
                #{equipmentNumber}
                
         )
    </insert>
    <update id="updateEquipmentLibrary" parameterType="EquipmentLibrary">
        update equipment_library
        <set>
                    <if test="createTime!=null ">
                        create_time=#{createTime},
                    </if>
                    update_time=now(),
                    <if test="del!=null ">
                        del=#{del},
                    </if>
                    <if test="vendorId!=null ">
                        vendor_id=#{vendorId},
                    </if>
                    <if test="deviceId!=null ">
                        device_id=#{deviceId},
                    </if>
                    <if test="remarks!=null ">
                        remarks=#{remarks},
                    </if>
                    <if test="equipmentNumber!=null ">
                        equipment_number=#{equipmentNumber}
                    </if>
          </set>
         where id=#{id}
    </update>
    <delete id="deleteEquipmentLibrary" >
        delete from equipment_library where id=#{id}
    </delete>
    <delete id="deleteEquipmentLibraryByCondition" >
        delete from equipment_library
        <where>
              <if test="id!=null">
                 id=#{id}
              </if>
              <if test="createTime!=null">
                and create_time=#{createTime}
              </if>
              <if test="updateTime!=null">
                and update_time=#{updateTime}
              </if>
              <if test="del!=null">
                and del=#{del}
              </if>
              <if test="vendorId!=null">
                and vendor_id=#{vendorId}
              </if>
              <if test="deviceId!=null">
                and device_id=#{deviceId}
              </if>
              <if test="remarks!=null">
                and remarks=#{remarks}
              </if>
              <if test="equipmentNumber!=null">
                and equipment_number=#{equipmentNumber}
              </if>
        </where>
    </delete>
    <insert id="batchSaveEquipmentLibrary" parameterType="EquipmentLibrary">
        INSERT INTO equipment_library (  id,  create_time,  update_time,  del,  vendor_id,  device_id,  remarks,  equipment_number )
        VALUES
        <foreach collection="list" item="equipmentLibrary" separator=",">
            (  #{equipmentLibrary.id},  #{equipmentLibrary.createTime},  #{equipmentLibrary.updateTime},  #{equipmentLibrary.del},  #{equipmentLibrary.vendorId},  #{equipmentLibrary.deviceId},  #{equipmentLibrary.remarks},  #{equipmentLibrary.equipmentNumber}  )
        </foreach>
    </insert>

    <select id="findEquipmentLibraryListByConditionGai" parameterType="EquipmentLibrary" resultType="EquipmentLibrary">
        select
        <choose>
            <when test="pager!=null and pager.includes!=null">
                <foreach collection="pager.includes" item="field" separator=",">
                    T.${@cn.hutool.core.util.StrUtil@toUnderlineCase(field)}
                </foreach>
            </when>
            <when test="pager!=null and pager.excludes!=null">
                <trim suffixOverrides=",">
                    <if test="!pager.excludes.contains('id')">
                        T.id,
                    </if>
                    <if test="!pager.excludes.contains('createTime')">
                        T.create_time,
                    </if>
                    <if test="!pager.excludes.contains('updateTime')">
                        T.update_time,
                    </if>
                    <if test="!pager.excludes.contains('del')">
                        T.del,
                    </if>
                    <if test="!pager.excludes.contains('vendorId')">
                        T.vendor_id,
                    </if>
                    <if test="!pager.excludes.contains('deviceId')">
                        T.device_id,
                    </if>
                    <if test="!pager.excludes.contains('remarks')">
                        T.remarks,
                    </if>
                    <if test="!pager.excludes.contains('equipmentNumber')">
                        T.equipment_number,
                    </if>
                </trim>
            </when>
            <otherwise>
                T.*
            </otherwise>
        </choose>
        ,v.vendor_name vendor_name,d.device_name device_name
        from equipment_library T left join equipment_vendor_management v on T.vendor_id = v.id
        left join equipment_device_name d on T.device_id = d.id
        <where>
            <if test="deviceName!=null">
                v.vendor_name like  "%"#{deviceName}"%" or d.device_name like  "%"#{deviceName}"%"
            </if>
            <if test="createTime!=null">
                and  T.create_time=#{createTime}
            </if>
            <if test="updateTime!=null">
                and T.update_time=#{updateTime}
            </if>
            <if test="del!=null">
                and T.del=#{del}
            </if>
            <if test="vendorId!=null">
                and T.vendor_id=#{vendorId}
            </if>
            <if test="deviceId!=null">
                and T.device_id=#{deviceId}
            </if>
            <if test="remarks!=null">
                and T.remarks=#{remarks}
            </if>
            <if test="equipmentNumber!=null">
                and T.equipment_number=#{equipmentNumber}
            </if>
        </where>
        <if test="pager!=null and pager.sortField!=null and pager.sortOrder!=null">
            order by T.${@cn.hutool.core.util.StrUtil@toUnderlineCase(pager.sortField)} ${@cn.hutool.core.util.StrUtil@toUnderlineCase(pager.sortOrder)}
        </if>
        <if test="pager!=null and  pager.paging">
            limit #{pager.beginRow},#{pager.pageSize}
        </if>
    </select>


    <select id="findEquipmentLibraryByIdGai" resultType="EquipmentLibrary">
        select T.*,v.vendor_name vendor_name,d.device_name device_name
        from equipment_library T left join equipment_vendor_management v on T.vendor_id = v.id
        left join equipment_device_name d on T.device_id = d.id  where T.id=#{id}
    </select>
    <!--########################################################################################################################-->
</mapper>