<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yice.edu.cn.dm.dao.dmScreenSaver.IDmScreenSaverMsgDao">
    <!--########################################################generated code start,do not update################################################################-->
    <sql id="projection">
        <choose>
             <when test="pager!=null and pager.includes!=null">
                 <foreach collection="pager.includes" item="field" separator=",">
                     T.${@cn.hutool.core.util.StrUtil@toUnderlineCase(field)}
                 </foreach>
             </when>
             <when test="pager!=null and pager.excludes!=null">
                 <trim suffixOverrides=",">
                         <if test="!pager.excludes.contains('id')">
                             T.id,
                         </if>
                         <if test="!pager.excludes.contains('teacherId')">
                             T.teacher_id,
                         </if>
                         <if test="!pager.excludes.contains('schoolId')">
                             T.school_id,
                         </if>
                         <if test="!pager.excludes.contains('title')">
                             T.title,
                         </if>
                         <if test="!pager.excludes.contains('content')">
                             T.content,
                         </if>
                         <if test="!pager.excludes.contains('contentType')">
                             T.content_type,
                         </if>
                         <if test="!pager.excludes.contains('pwd')">
                             T.pwd,
                         </if>
                         <if test="!pager.excludes.contains('status')">
                             T.status,
                         </if>
                         <if test="!pager.excludes.contains('sendArea')">
                             T.send_area,
                         </if>
                         <if test="!pager.excludes.contains('startTime')">
                             T.start_time,
                         </if>
                         <if test="!pager.excludes.contains('endTime')">
                             T.end_time,
                         </if>
                         <if test="!pager.excludes.contains('createTime')">
                             T.create_time,
                         </if>
                         <if test="!pager.excludes.contains('updateTime')">
                             T.update_time,
                         </if>
                 </trim>
             </when>
             <otherwise>
                 T.*
             </otherwise>
         </choose>
    </sql>
    <sql id="match">
        <where>
              <if test="id!=null">
                    <choose>
                         <when test="pager!=null and pager.like=='id'">
                             T.id like concat('%',#{id},'%')
                         </when>
                         <otherwise>
                             T.id=#{id}
                         </otherwise>
                      </choose>
              </if>
              <if test="teacherId!=null">
                    <choose>
                         <when test="pager!=null and pager.like=='teacherId'">
                            and T.teacher_id like concat('%',#{teacherId},'%')
                         </when>
                         <otherwise>
                            and T.teacher_id=#{teacherId}
                         </otherwise>
                      </choose>
              </if>
              <if test="schoolId!=null">
                    <choose>
                         <when test="pager!=null and pager.like=='schoolId'">
                            and T.school_id like concat('%',#{schoolId},'%')
                         </when>
                         <otherwise>
                            and T.school_id=#{schoolId}
                         </otherwise>
                      </choose>
              </if>
              <if test="title!=null">
                    <choose>
                         <when test="pager!=null and pager.like=='title'">
                            and T.title like concat('%',#{title},'%')
                         </when>
                         <otherwise>
                            and T.title=#{title}
                         </otherwise>
                      </choose>
              </if>
              <if test="content!=null">
                    <choose>
                         <when test="pager!=null and pager.like=='content'">
                            and T.content like concat('%',#{content},'%')
                         </when>
                         <otherwise>
                            and T.content=#{content}
                         </otherwise>
                      </choose>
              </if>
              <if test="contentType!=null">
                    and T.content_type=#{contentType}
              </if>
              <if test="pwd!=null">
                    <choose>
                         <when test="pager!=null and pager.like=='pwd'">
                            and T.pwd like concat('%',#{pwd},'%')
                         </when>
                         <otherwise>
                            and T.pwd=#{pwd}
                         </otherwise>
                      </choose>
              </if>
              <if test="status!=null">
                    and T.status=#{status}
              </if>
              <if test="sendArea!=null">
                    <choose>
                         <when test="pager!=null and pager.like=='sendArea'">
                            and T.send_area like concat('%',#{sendArea},'%')
                         </when>
                         <otherwise>
                            and T.send_area=#{sendArea}
                         </otherwise>
                      </choose>
              </if>
              <if test="startTime!=null">
                    <choose>
                         <when test="pager!=null and pager.like=='startTime'">
                            and T.start_time like concat('%',#{startTime},'%')
                         </when>
                         <otherwise>
                            and T.start_time=#{startTime}
                         </otherwise>
                      </choose>
              </if>
              <if test="endTime!=null">
                    <choose>
                         <when test="pager!=null and pager.like=='endTime'">
                            and T.end_time like concat('%',#{endTime},'%')
                         </when>
                         <otherwise>
                            and T.end_time=#{endTime}
                         </otherwise>
                      </choose>
              </if>
              <if test="createTime!=null">
                    <choose>
                         <when test="pager!=null and pager.like=='createTime'">
                            and T.create_time like concat('%',#{createTime},'%')
                         </when>
                         <otherwise>
                            and T.create_time=#{createTime}
                         </otherwise>
                      </choose>
              </if>
              <if test="updateTime!=null">
                    <choose>
                         <when test="pager!=null and pager.like=='updateTime'">
                            and T.update_time like concat('%',#{updateTime},'%')
                         </when>
                         <otherwise>
                            and T.update_time=#{updateTime}
                         </otherwise>
                      </choose>
              </if>
            <if test="pager!=null and pager.rangeField!=null and pager.rangeArray!=null and pager.rangeArray.length==2">
                <foreach collection="pager.rangeArray" item="item"  index="i">
                    <if test="i==0 and item!=null">
                        and ${@cn.hutool.core.util.StrUtil@toUnderlineCase(pager.rangeField)} &gt;= #{item}
                    </if>
                    <if test="i==1 and item!=null">
                        and ${@cn.hutool.core.util.StrUtil@toUnderlineCase(pager.rangeField)} &lt;= #{item}
                    </if>
                </foreach>

            </if>
        </where>
    </sql>
    <sql id="sort">
        <if test="pager!=null and pager.sortField!=null and pager.sortOrder!=null">
            order by T.${@cn.hutool.core.util.StrUtil@toUnderlineCase(pager.sortField)} ${@cn.hutool.core.util.StrUtil@toUnderlineCase(pager.sortOrder)}
        </if>
    </sql>
    <sql id="page">
        <if test="pager!=null and  pager.paging">
            limit #{pager.beginRow},#{pager.pageSize}
        </if>
    </sql>


    <select id="findDmScreenSaverMsgListByCondition" parameterType="DmScreenSaverMsg" resultType="DmScreenSaverMsg">
        select
         <include refid="projection"/>
         from dm_screen_saver_msg T
         <include refid="match"/>
         <include refid="sort"/>
         <include refid="page"/>


    </select>
    <select id="findDmScreenSaverMsgCountByCondition" parameterType="DmScreenSaverMsg" resultType="long">
        select count(*) from dm_screen_saver_msg T
        <include refid="match"/>
    </select>
    <select id="findDmScreenSaverMsgById" resultType="DmScreenSaverMsg">
        select * from dm_screen_saver_msg where id=#{id}
    </select>
    <select id="findOneDmScreenSaverMsgByCondition" parameterType="DmScreenSaverMsg" resultType="DmScreenSaverMsg">
        select
         <include refid="projection"/>
         from dm_screen_saver_msg T
        <include refid="match"/>
    </select>
    <insert id="saveDmScreenSaverMsg" parameterType="DmScreenSaverMsg">
        insert into dm_screen_saver_msg
         (
            id,
            teacher_id,
            school_id,
            title,
            content,
            content_type,
            pwd,
            status,
            send_area,
            start_time,
            end_time,
            create_time,
            update_time
        ) values
         (
                #{id}
                ,
                #{teacherId}
                ,
                #{schoolId}
                ,
                #{title}
                ,
                #{content}
                ,
                #{contentType}
                ,
                #{pwd}
                ,
                #{status}
                ,
                #{sendArea}
                ,
                #{startTime}
                ,
                #{endTime}
                ,
                now()
                ,
                now()
                
         )
    </insert>
    <update id="updateDmScreenSaverMsg" parameterType="DmScreenSaverMsg">
        update dm_screen_saver_msg
        <set>
                    <if test="teacherId!=null ">
                        teacher_id=#{teacherId},
                    </if>
                    <if test="schoolId!=null ">
                        school_id=#{schoolId},
                    </if>
                    <if test="title!=null ">
                        title=#{title},
                    </if>
                    <if test="content!=null ">
                        content=#{content},
                    </if>
                    <if test="contentType!=null ">
                        content_type=#{contentType},
                    </if>
                    <if test="pwd!=null ">
                        pwd=#{pwd},
                    </if>
                    <if test="status!=null ">
                        status=#{status},
                    </if>
                    <if test="sendArea!=null ">
                        send_area=#{sendArea},
                    </if>
                    <if test="startTime!=null ">
                        start_time=#{startTime},
                    </if>
                    <if test="endTime!=null ">
                        end_time=#{endTime},
                    </if>
                    <if test="createTime!=null ">
                        create_time=#{createTime},
                    </if>
                    update_time=now()
          </set>
         where id=#{id}
    </update>
    <delete id="deleteDmScreenSaverMsg" >
        delete from dm_screen_saver_msg where id=#{id}
    </delete>
    <delete id="deleteDmScreenSaverMsgByCondition" >
        delete T from dm_screen_saver_msg T
        <include refid="match"/>
    </delete>
    <insert id="batchSaveDmScreenSaverMsg" parameterType="DmScreenSaverMsg">
        INSERT INTO dm_screen_saver_msg (  id,  teacher_id,  school_id,  title,  content,  content_type,  pwd,  status,  send_area,  start_time,  end_time,  create_time,  update_time )
        VALUES
        <foreach collection="list" item="dmScreenSaverMsg" separator=",">
            (  #{dmScreenSaverMsg.id},  #{dmScreenSaverMsg.teacherId},  #{dmScreenSaverMsg.schoolId},  #{dmScreenSaverMsg.title},  #{dmScreenSaverMsg.content},  #{dmScreenSaverMsg.contentType},  #{dmScreenSaverMsg.pwd},  #{dmScreenSaverMsg.status},  #{dmScreenSaverMsg.sendArea},  #{dmScreenSaverMsg.startTime},  #{dmScreenSaverMsg.endTime},  #{dmScreenSaverMsg.createTime},  #{dmScreenSaverMsg.updateTime}  )
        </foreach>
    </insert>
    <!--##################################################generated code end,do not update######################################################################-->
    <update id="batchUpdateDmScreenSaverMsg">
        update dm_screen_saver_msg
        <set>
            <if test="pwd!=null ">
                pwd=#{pwd},
            </if>
        </set>
        <where>
            <if test="teacherId!=null">
                and teacher_id=#{teacherId}
            </if>
            <if test="schoolId!=null">
                and school_id=#{schoolId}
            </if>
        </where>
    </update>
    <delete id="batchDeleteDmScreenSaverMsg">
        delete from dm_screen_saver_msg where id in
        <foreach item="item" collection="rowData" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>


    <update id="batchUpdateDmScreenSaverMsgStatus">
        update dm_screen_saver_msg set `status`=#{status} where now()>=end_time and `status`=1 and school_id=#{schoolId}
    </update>

    <select id="getRunNingDmScreenSaverMsg" parameterType="DmScreenSaverMsg" resultType="DmScreenSaverMsg">
        select T.* from dm_screen_saver_msg T where T.school_id=#{schoolId} and T.end_time>=now() and T.status=1 order by T.update_time desc limit 1
    </select>
</mapper>